// Color Variables
$white: #ffffff;
$black: #272932;
$red: #D70A3D;
$blue: #1E8BC3;

$body-bg: #fafafa;
$box-border-color: #E6E6E6;

$input-border: #EBEBEB;
$input-bg: #FAFAFA;
$want: $red;
$have: $blue;

// Typography & Fonts
// ------------------

// League Spartan
@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/leaguespartan-bold.eot');
  src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/leaguespartan-bold.woff2') format('woff2'),
   	url('../fonts/leaguespartan-bold.woff') format('woff'),
   	url('../fonts/leaguespartan-bold.ttf') format('truetype'),
   	url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$league-spartan: 'League Spartan', Helvetica, Arial, sans-serif;

// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$roboto: 'Roboto', Helvetica, Arial, sans-serif;

// Body & Global Styles
// --------------------

* {
	margin: 0;
}

body {
	background: $body-bg;
}

h1, h2, h3, h4 {
	font-family: $league-spartan;
}

header {
	align-items: center;
	background: $white;
	border-bottom: 1px solid $box-border-color;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	padding: 1rem 1rem;
	h1 {
		font-size: .8rem;
		text-transform: uppercase;
	}
}

// Promo Container
.promo-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	justify-content: center;
	padding: 1rem;
	.title {
		font-family: $league-spartan;
		font-size: 1.4rem;
		margin-bottom: 1rem;
	}
}

// Box
.box {
	align-items: center;
	background: $white;
	border: 1px solid $box-border-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;
	max-width: 230px;
	padding: 3rem;
	.subtitle {
		font-family: $league-spartan;
		color: #757575;
		margin-bottom: 2rem;
		text-align: center;
		font-size: .95rem;
	}
	.description {
		font-family: $roboto;
		color: #757575;
		font-size: .85rem;
		text-align: center;
		margin-bottom: 2rem;
		line-height: 1.2;
	}
	.button {
		background: $black;
		color: $white;
		border-radius: .3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem 2rem;
		font-weight: bold;
		font-family: $roboto;
		font-size: .85rem;
		margin-bottom: 1rem;
		text-decoration: none;
		transition: 180ms ease background;
		width: 100%;
	}
	.button:hover {
		background: #000000;
	}
	.terms {
		color: #757575;
		font-family: $roboto;
		font-size: .8rem;
		text-align: center;
		a {
			color: $black;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.social {
	padding: 0 3rem !important;
	max-width: 230px;
	width: 100%;
	display: flex;
	flex-direction: row;
	a {
		margin: 1rem .5rem;
	}
	a svg {
		stroke: $black;
		transition: 180ms ease stroke;
	}
	a svg:hover {
		stroke: #000000;
	}
}
